$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
    display: inline-block;
  }

  .user-info {
    float: right;
    display: inline-block;

    h4 {
      display: inline-block;
      margin: 0 15px 0 0;
    }

    .avatar {
      width: 48px;
      height: 48px;
    }
  }
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* REGISTRATION */

.radio-group {
    text-align: left;
}

.offset-btm-50 {
    margin-bottom: 50px;
}

.upload-snippet {
  padding: 15px;
  margin: 0 0 15px 0;
  height: 100px;
  border: 1px solid #444444;
  border-radius: 5px;
  line-height: 75px;

  .u-name,
  .u-message,
  .u-status {
    padding: 0px;
    margin: 0px;
  }

  .u-message {
    p {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      line-height: 16px;     /* fallback */
      max-height: 64px;      /* fallback */
      -webkit-line-clamp: 4; /* number of lines to show */
      -webkit-box-orient: vertical;
    }

    i {
      position: absolute;
      left: -30px;
      top: 30px;
    }
  }

  .u-status {
    text-align: right;
  }

  .u-status-label {
    display: none;
  }

  .u-upload {
    // display: none;
  }

  .u-status.approve { color: #4C7A34; }
  .u-status.pending { color: #444444; }
  .u-status.notapprove { color: #B70F0A; }

  .u-extend-message {
    display: none;
  }
}

.registration {    
    div.register-btn {
        text-align: center;
        margin-top: 80px; 
        
        .checkbox {
            position: absolute;
            display: inline-block;
            margin-left: 15px;
        }
    }
}

.user-details {
    
    /* enable absolute positioning */
    .inner-addon { 
        position: relative; 
    }

    /* style icon */
    .inner-addon .glyphicon {
      position: absolute;
      padding: 10px;
    }

    /* align icon */
    .left-addon .glyphicon  { left:  0px;}
    .right-addon .glyphicon { right: 0px;}

    /* add padding  */
    .left-addon input  { padding-left:  30px; }
    .right-addon input { padding-right: 30px; }
    
    .block-title {
        padding-bottom: 30px;
    }
    
    .block-title > h4 {
        display: inline-block;
    }
    
    .block-title > button {
        float: right;
    }
    
    .block-body {  
        .form-group .inner-addon.w75 {
            display: inline-block;
            width: 75%;
            float: right;
            padding-left: 10px;
        }
        
        .form-group .inner-addon {
            display: inline-block;
            width: 60%;
            float: right;
            padding-left: 10px;
        }
        
        .form-group label {
            padding-top: 7px;
            margin-bottom: 0;            
        }
    } 
    
}


.bs-wizard {margin-top: 40px;}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {
  padding: 0; position: relative;
}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {
  color: #595959; font-size: 16px; margin-bottom: 5px;
}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {
  position: absolute; 
  width: 30px; 
  height: 30px; 
  display: block; 
  background: #fbe8aa; 
  top: 25px; 
  left: 50%; 
  margin-top: -15px; 
  margin-left: -15px; 
  border-radius: 50%;
} 
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {
  content: ' '; 
  width: 14px; 
  height: 14px; 
  background: #fbbd19; 
  border-radius: 50px; 
  position: absolute; 
  top: 8px; 
  left: 8px; 
} 
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 968px) {
  .container {
    max-width: 930px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
