<div id="user-details" class="container user-details"> <!--user details-->
  <div class="row offset-btm-50">            
     <div class="col-md-6"> <!--Personal Info-->
        <div class="block-title"> <!--block-title-->
            <h4>Personal Info:</h4>
            <button class="btn btn-default" type="submit">Edit</button>
        </div> <!--end block-title-->
        
        <div class="block-body">
            <div class="form-group">
                <label for="inputEmail3" class="">First Name:</label>
                <div class="inner-addon right-addon w75">
                  <input type="text" class="form-control" placeholder="John" ng-model="fname">
                </div>
            </div>
            
            <div class="form-group">
                <label for="lastname">Last Name:</label>
                <div class="inner-addon right-addon w75">
                  <input type="text" class="form-control" id="lastname" placeholder="John" ng-model="lname">
                </div>
            </div>
            
            <div class="form-group">
                <label for="inputEmail3">ID Number:</label>
                <div class="inner-addon right-addon w75">
                  <input type="text" class="form-control" placeholder="John">
                  <i class="glyphicon glyphicon-question-sign"></i>
                </div>
            </div>
            
            <div class="form-group">
                <label for="email">Email:</label>
                <div class="inner-addon right-addon w75">
                  <input type="text" class="form-control" id="email" placeholder="John" ng-model="email">
                  <i class="glyphicon glyphicon-question-sign"></i>
                </div>
            </div>
            
            <div class="form-group">
                <label for="inputEmail3">Phone:</label>
                <div class="inner-addon right-addon w75">
                  <input type="text" class="form-control" placeholder="John">
                  <i class="glyphicon glyphicon-question-sign"></i>
                </div>
            </div>
            
            <div class="form-group">
                <label for="inputEmail3">Address:</label>
                <div class="inner-addon right-addon w75">
                  <input type="text" class="form-control" placeholder="John">
                  <i class="glyphicon glyphicon-question-sign"></i>
                </div>
            </div>
            
            <div class="form-group">
                <label for="inputEmail3">Marital status:</label>
                <div class="inner-addon right-addon w75">
                    <div class="radio-group">
                      <label class="radio-inline">
                        <input type="radio" name="maritalRadios" 
                            value="married" checked>Married
                      </label>
                       
                      <label class="radio-inline">
                        <input type="radio" name="maritalRadios" 
                            value="single" checked>Single
                      </label>                               
                    </div>
                  
                    <i class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="left" title="Tooltip on left"></i>
                </div>
            </div>
            
            <div class="form-group">
                <label for="inputEmail3">Children:</label>
                <div class="inner-addon right-addon w75">
                  <select class="form-control" id="sel1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>                          
                </div>
            </div>
            
            <div class="form-group">
                <label for="inputEmail3">Sex:</label>
                <div class="inner-addon right-addon w75">
                  <div class="radio-group">
                      <label class="radio-inline">
                        <input type="radio" name="sexRadios" 
                            value="male" checked>Male
                      </label>
                       
                      <label class="radio-inline">
                        <input type="radio" name="sexRadios" 
                            value="female" checked>Female
                      </label>
                       
                    </div>
                  
                  <i class="glyphicon glyphicon-question-sign"></i>
                </div>
            </div>
            
            <div class="form-group">
                <label for="inputEmail3">Year of birth:</label>
                <div class="inner-addon right-addon w75">
                  <input type="text" class="form-control" placeholder="John">
                  
                </div>
            </div>
        </div>
     </div> <!--end Personal Info-->
     
     <div class="col-md-6"> <!--Bank Account-->
         <div class="block-title">
            <h4>Bank Account:</h4>
            <button class="btn btn-default" type="submit">Edit</button>
         </div>
         
         <div class="block-body">
            <div class="form-group">
                <label for="inputEmail3" class="">Bank account details:</label>
                <div class="inner-addon right-addon">
                  <select class="form-control" id="sel1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>                          
                </div>
            </div>
            
            <div class="form-group">
                <label for="lastname">Account history (years):</label>
                <div class="inner-addon right-addon">
                  <select class="form-control" id="sel1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>                          
                </div>
            </div>
            
            <div class="form-group">
                <label for="inputEmail3">Credit card number:</label>
                <div class="inner-addon right-addon">
                  <input type="text" class="form-control" placeholder="John">
                  <i class="glyphicon glyphicon-question-sign"></i>
                </div>
            </div>
            
            <div class="form-group">
                <label for="inputEmail3">Account name:</label>
                <div class="inner-addon right-addon">
                  <input type="text" class="form-control" placeholder="John">
                  <i class="glyphicon glyphicon-question-sign"></i>
                </div>
            </div>                   
            
        </div>
     </div> <!--end Bank Account-->             
  </div>
  
  <div class="row">
     <div class="col-md-6"> <!--income-->
        <div class="block-title">
           <h4>Income & Assets:</h4>
           <button class="btn btn-default" type="submit">Edit</button>
        </div>
        
        <div class="block-body">
            <div class="form-group">
                <label for="inputEmail3">Number of wage earner:</label>
                <div class="inner-addon right-addon">
                  <select class="form-control" id="sel1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>                          
                </div>
            </div>
            
            <div class="form-group">
                <label for="inputEmail3">Total family income:</label>
                <div class="inner-addon right-addon">
                  <select class="form-control" id="sel1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>                          
                </div>
            </div>
            
            <div class="form-group">
                <label for="inputEmail3">Savings:</label>
                <div class="inner-addon right-addon">
                  <select class="form-control" id="sel1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>                          
                </div>
            </div>
            
            <div class="form-group">
                <label for="inputEmail3">Housing ownership:</label>
                <div class="inner-addon right-addon">
                    <div class="radio-group">
                      <label class="radio-inline">
                        <input type="radio" name="houseRadios" 
                            value="married" checked>Yes
                      </label>
                       
                      <label class="radio-inline">
                        <input type="radio" name="houseRadios" 
                            value="single" checked>No
                      </label>                               
                    </div>
                  
                    <i class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="left" title="Tooltip on left"></i>
                </div>
            </div>
            
            <div class="form-group">
                <label for="inputEmail3">Vehicle ownership:</label>
                <div class="inner-addon right-addon">
                    <div class="radio-group">
                      <label class="radio-inline">
                        <input type="radio" name="vehicleRadios" 
                            value="married" checked>Yes
                      </label>
                       
                      <label class="radio-inline">
                        <input type="radio" name="vehicleRadios" 
                            value="single" checked>No
                      </label>                               
                    </div>
                  
                    <i class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="left" title="Tooltip on left"></i>
                </div>
            </div>
            
            <div class="form-group">
                <label for="inputEmail3">Personal income:</label>
                <div class="inner-addon right-addon">
                  <input type="text" class="form-control" placeholder="John">
                </div>
            </div>
            
            <div class="form-group">
                <label for="inputEmail3">Vehicle value:</label>
                <div class="inner-addon right-addon">
                  <input type="text" class="form-control" placeholder="John">
                </div>
            </div>
            
            <div class="form-group">
                <label for="inputEmail3">Total debts:</label>
                <div class="inner-addon right-addon">
                  <input type="text" class="form-control" placeholder="John">
                </div>
            </div>
        </div>
     </div> <!--end income-->
     
     <div class="col-md-6"> <!--education-->
        <div class="block-title">
            <h4>Education & Employment:</h4>
            <button class="btn btn-default" type="submit">Edit</button>
        </div>
        
        <div class="block-body">
            <div class="form-group">
                <label for="inputEmail3">Occupation:</label>
                <div class="inner-addon right-addon">
                  <select class="form-control" id="sel1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>                          
                </div>
            </div>
            
            <div class="form-group">
                <label for="inputEmail3">Education in years:</label>
                <div class="inner-addon right-addon">
                  <select class="form-control" id="sel1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>                          
                </div>
            </div>
            
            <div class="form-group">
                <label for="inputEmail3">Employment history <br/>
                    (Years in the job):</label>
                <div class="inner-addon right-addon">
                  <select class="form-control" id="sel1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>                          
                </div>
            </div>
            
            <div class="form-group">
                <label for="inputEmail3">Employer details:</label>
                <div class="inner-addon right-addon">
                  <select class="form-control" id="sel1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>                          
                </div>
            </div>
            
            <div class="form-group">
                <label for="inputEmail3">Employment Status:</label>
                <div class="inner-addon right-addon">
                  <select class="form-control" id="sel1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>                          
                </div>
            </div>
            
            <div class="form-group">
                <label for="inputEmail3">Major:</label>
                <div class="inner-addon right-addon">
                  <select class="form-control" id="sel1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                  </select>                          
                </div>
            </div>
        </div>
     </div> <!--end education-->
  </div>
</div> <!--end user details-->